# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# IDEs
.vscode/


#MacOS
.DS_Store



# Data
data/

# But keep the example masks directory
!data/example_masks/
!data/example_masks/**
!src/core/data/

#Checkpoints
checkpoints/